.body{
    background-image: url(../../assets/Blobs.svg);
    background-repeat:no-repeat;
    background-size:contain;
    height: 100vh;
    display: flex;
    flex-direction: row;

    section{
        width: 40%;
        height: 50%;
        padding-left: 7.5%;
        padding-top: 5%;

        min-width: 40%;
        max-width: 60%;

        h1{
            color: #D2D2D2;
            font-size: 3vw;
            font-style: bold;
        }

        p{
            color: #A9A9A9;
            font-size: 1.5vw;
        }

        button{
            background-color: #27AE60;
            color: white;
            border-radius: 25px;
            font-size: 1.25vw;
            border: none;
            width: 35%;
            height: 15%;

            margin-top: 15px;
            
            &:hover{
                cursor:pointer;
            }
        }
    }

    .programadorDiv{
        img{
            width: 75%;
            height: 75%;

            min-width: 50%;
            max-width: 80%;
        }   
    }
}