.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 7.5%;
    padding-right: 40%;

    .headerIcons{
        display: flex;
        flex-direction: row;
        width: 40%;

            
        img{
            width: 75%;
            height: 75%
        }
    }
    .headerLogo{
        img{
            width: 70%;
            height: 75%
        }
    }
}